.container--flex{
  display: flex;
}

.card__title {
  color: black;
  opacity: 0.5;
  margin-left: 30px;
}

.card__p1{
  color: black;
  width: 303px;
  font-size: 35px;
  margin-left: 28px;
}

.card__date{
  color: black;
  opacity: 0.5;
  font-size: 23px;
  margin-left: 28px;
}

.flex {
  display: flex;
}

.card__button{
  color: black;
  font-size: 25px;
  margin-left: 28px;

}

.card__row{
  background-color: rgb(255, 255, 255);
  padding: 9px;
  margin-left: 20px;
  width: 23px;
  height: 12px;
}