.button--variant{
  background-color: #ffe24d;
  padding: 18px 29px ;
  margin-bottom: 20px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 50s  ;
  border: none;
  width: 275px;
  margin-left: 438px;
  }
  
  .button--variant:hover {
    background: linear-gradient(90deg,#ffe24d 11.03%,#99cc7e 53.39%,#93e0f1 103.45%);
  }
